.partners {
    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: calc(100% / 6);
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #bfdbed;
        padding: 0 30px;
        
        &:nth-of-type(6n) {
            border-right: none;
        }
    }
}

@media screen and (max-width: 992px) {
    .partners {
        &__item {
            width: calc(100% / 4);
            border: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .partners {
        &__item {
            width: calc(100% / 3);
        }
    }
}

@media screen and (max-width: 576px) {
    .partners {
        &__item {
            width: calc(100% / 2);
        }
    }
}