.intro {
    position: relative;

    .slider {
        &__item {
            position: relative;
            height: 650px;
            padding: 225px 0 10px;

            .image {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .content {
                width: 100%;
                max-width: 750px;
                
                h2 {
                    color: @white;
                    text-transform: uppercase;
                    font-size: 40px;
                    font-weight: 800;
                    line-height: 1.8;
                }
            }
        }
    }

    .arrows {
        position: absolute;
        z-index: 2;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;

        &__wrap {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &__item {
            margin: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                svg {
                    transform: scaleX(2);
                }
            }

            svg {
                width: 16px;
                height: 16px;
                fill: @white;
                transition: 0.3s;
                transform-origin: 100% 50%;
            }

            &.prev {
                transform: rotate(180deg);
            }


        }
    }
}

@media screen and (max-width: 1200px) {
    .intro {
        .slider {
            &__item {
                height: 470px;
                padding: 185px 0 10px;

                .content {
                    h2 {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .intro {
        .slider {
            &__item {
                .content {
                    h2 {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .intro {
        .slider {
            &__item {
                .content {
                    h2 {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .intro {
        .slider {
            &__item {
                .content {
                    h2 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}