.intro {
    position: relative;

    .slider {
        &__item {
            position: relative;
            height: 650px;
            padding: 225px 0 10px;

            .image {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .content {
                width: 100%;
                max-width: 750px;
                
                h2 {
                    color: @white;
                    text-transform: uppercase;
                    font-size: 40px;
                    font-weight: 800;
                    line-height: 1.8;
                }
            }
        }
    }

    .dots {
        bottom: 59px;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        margin: auto;
        pointer-events: none;
        

        &__wrap {
            position: relative;
            display: flex;
            align-items: center;
        }

        .pause {
            width: 9px;
            height: 13px;
            order: 2;
            position: relative;
            margin-left: 20px;
            pointer-events: all;
            cursor: pointer;

            &.active {
                &:before,
                &:after {
                    background-color: @blue;
                }
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 3px;
                height: 100%;
                background-color: @white;
                border-radius: 100px;
                transition: 0.3s;
            }

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 3px;
                height: 100%;
                background-color: @white;
                border-radius: 100px;
                transition: 0.3s;
            }
        }
        
        .slick-dots {
            pointer-events: all;
            order: 1;
            width: auto;
            bottom: 0;
            text-align: left;
            position: static;
            display: inline-block;

            li,
            li button {
                width: 30px;
                height: 12px;
            }

            li {
                button {
                    padding: 0;
                    background-color: @white;
                    height: 2px;
                    width: 30px;
                    transform: scale(1);
                    transition: 0.3s;
                    border-radius: 100px;

                    &:before {
                        display: none;
                    }
                }

                &.slick-active {
                    button {
                        background-color: @blue;
                        transform: scaleY(2);
                    }
                }
            }
        }
    }

    .arrows {
        position: absolute;
        z-index: 2;
        right: 0;
        left: 0;
        bottom: 91px;
        width: 100%;
        pointer-events: none;

        &__wrap {
            position: relative;
        }

        &__item {
            width: 41px;
            height: 41px;
            transition: 0.3s;
            position: absolute;
            cursor: pointer;
            pointer-events: all;

            &:hover {
                .line {
                    width: 41px;
                }

                svg {
                    right: -27px;

                    circle {
                        stroke-dasharray: 85px 60px;
                    }
                }
            }           

            svg {
                width: 41px;
                height: 41px;
                position: absolute;
                right: 0;
                transition: 0.3s;

                    circle {
                        stroke-dasharray: 98px 0px;
                        transition: 0.3s;
                        transform: rotate(-137deg);
                        transform-origin: 50% 49%;
                    }
            }

            .line {
                position: absolute;
                left: 12px;
                top: 19px;
                width: 16px;
                height: 2px;
                background-color: @white;
                border-radius: 100px;
                display: block;
                transition: 0.3s;
                transform-origin: 0 0;

                &:before {
                    content: '';
                    position: absolute;
                    right: 3px;
                    bottom: calc(100% - 3px);
                    background-color: @white;
                    width: 2px;
                    height: 11px;
                    transform: rotate(-50deg);
                    display: block;
                    border-radius: 100px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: 3px;
                    top: calc(100% - 3px);
                    background-color: @white;
                    width: 2px;
                    height: 11px;
                    transform: rotate(50deg);
                    display: block;
                    border-radius: 100px;
                }
            }

            &.prev {
                transform: rotate(180deg);
                right: 80px;
            }

            &.next {
                right: 27px;
            }

        }
    }
}

@media screen and (max-width: 1200px) {
    .intro {
        .slider {
            &__item {
                height: 470px;
                padding: 185px 0 10px;

                .content {
                    h2 {
                        font-size: 30px;
                    }
                }
            }
        }

        .dots { 
            bottom: 25px;
        }

        .arrows {
            bottom: 58px;
        }
    }
}

@media screen and (max-width: 992px) {
    .intro {
        .slider {
            &__item {
                .content {
                    h2 {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .intro {
        .slider {
            &__item {
                .content {
                    h2 {
                        font-size: 22px;
                    }
                }
            }
        }

        .dots { 
            display: none;
        }
    }
}

@media screen and (max-width: 576px) {
    .intro {
        .slider {
            &__item {
                .content {
                    h2 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}