.numbers {
    background-image: url('../img/numbers-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 136px 0 44px;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        color: @white;
        width: calc(50% - 156px);
        margin: 0 78px 80px;

        span {
            font-size: 80px;
            font-weight: 800;
            white-space: nowrap;
        }

        p {
           font-size: 15px;
           font-weight: 400; 
           margin: 0;
           padding: 5px 0 0 23px;
           line-height: 1.4;
        }
    }
}

@media screen and (max-width: 1200px) {
    .numbers {
        padding: 90px 0 44px;

        &__item {
            margin: 0 40px 50px;
            width: calc(50% - 80px);
        }
    }
}

@media screen and (max-width: 992px) {
    .numbers {
        &__item {
            span {
                font-size: 60px;
            }

            p {
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .numbers {
        &__item {
            flex-direction: column;
            align-items: flex-start;

            p {
                padding: 0;
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .numbers {
        &__item {
            width: calc(100% - 80px);
        }
    }
}