.footer {
    padding: 41px 0 21px;
    background-color: @blue;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        width: 211px;
    }

    .content {
        width: calc(100% - 211px);
        padding: 41px 0 20px 91px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 1px;
            height: calc(100% - 18px);
            background-color: #137abe;
        }
    }

    .logo {
        svg {
            width: 112px;
            height: 66px;
        }
    }
    
    .nav {
        color: @white;
        font-weight: 900;
        font-size: 14px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 31px;

        &__item {
            &:not(:last-of-type) {
                margin-right: 37px;
            }
        }
    }

    .contacts {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        a {
            font-size: 14px;
            font-weight: 500;
            color: @white;
            margin-right: 41px;
        }
    }

    .rights {
        border-top: 1px solid #137abe;
        margin-top: 59px;
        padding-top: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        &__item {
            font-size: 12px;
            font-weight: 400;
            color: @white;

            span {
                font-size: 24px;
                font-weight: 900;
                display: inline-block;
                vertical-align: middle;
                margin-right: 9px;
            }

            &.siluet {
                position: relative;
                padding-left: 25px;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: -3px;
                    width: 16px;
                    height: 17px;
                    background-image: url('../img/icons/logo-siluet.png');
                }
            }
        }
    }
}