.header {

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: -39px;
            top: 0;
            width: calc(100% + 78px);
            height: 100%;
            border: 1px solid #e8e8e8;
            border-top: none;
            background-color: @white;
            pointer-events: none;
            z-index: -1;
        }
    }
    
    .logo {
        border-right: 1px solid #e8e8e8;
        width: 201px;
        height: 141px;
        line-height: 202px;

        svg {
            width: 157px;
            height: 93px;
        }
    }

    &__row {
        width: calc(100% - 201px);
    }

    .contacts {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        padding: 18px 0 22px 40px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: calc(100% + 39px);
            height: 1px;
            background-color: #e8e8e8;
        }
    }

    .phone {
        font-weight: 500;
        font-size: 14px;
        color: @text;
    }

    .icons {
        margin-left: auto;
        display: flex;
        align-items: center;

        a {
            background-color: @blue;
            width: 30px;
            height: 30px;
            border-radius: 100px;
            margin-left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            svg {
                fill: @white;

                &.vk {
                    width: 16px;
                    height: 9px;
                }
                
                &.fb {
                    width: 8px;
                    height: 14px;
                }
                
                &.ig {
                    width: 15px;
                    height: 15px;
                    transform: translate(1px, -1px);
                }
            }
        }
    }

    .menu {
        display: flex;
        list-style: none;
        font-weight: 900;
        font-size: 14px;
        margin: 0;
        padding: 0;
        text-transform: uppercase;

        &__item {
            margin: 0 14px;

            &_drop {
                position: relative;

                &:hover {
                    .sub {
                        visibility: visible;
                        opacity: 1;
                    }
                }                

                & > a {
                    position: relative;

                    

                    &:after {
                        content: '';
                        position: absolute;
                        right: -6px;
                        top: 33px;
                        width: 9px;
                        height: 6px;
                        background-image: url('../img/icons/arrow_dd.png');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        transition: 0.3s;
                    }
                }
            }

            &:first-of-type {
                margin-left: 0;
                
                & > a {
                    padding-left: 40px;
                }
            }

            &:last-of-type {
                margin-right: 0;
                
                & > a {
                    padding-right: 0;
                }
            }

            & > a {
                padding: 29px 12px 26px;
                display: inline-block;
            }
        }

        .sub {
            //display: none;
            visibility: hidden;
            opacity: 0;
            list-style: none;
            position: absolute;
            left: 0;
            top: 100%;
            width: 200px;
            font-weight: 900;
            font-size: 14px;
            margin: 0;
            padding: 20px;
            background-color: @blue;
            text-transform: none;
            transition: 0.3s;
            color: @white;

            &__item {
                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &_absolute {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;

        
        .header__wrap {
            &:before {
                background-color: fade(@black, 20%);
                border: 1px solid fade(@white, 10%);
            }
        }

        .logo {
            border-right: 1px solid fade(@white, 10%);
        }

        .phone {
            color: @white;
        }

        .icons {
            a {
                background-color: fade(@white, 10%);
            }
        }

        .contacts {
            &:after {
                background-color: fade(@white, 10%);
            }
        }

        .menu {
            color: @white;
        }

        .burger {
            span {
                background-color: @white!important;
            }
        }
    }

    .burger {
        position: absolute;
        display: none;
        right: 0;
        bottom: 27px;
        width: 30px;
        height: 21px;
        z-index: 6;
        border-radius: 100px;

        &:before {
            content: '';
            position: absolute;
            box-shadow: 0 0 0 0 @blue;
            transition: 1s;
            width: 2px;
            height: 2px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            display: block;
            border-radius: 100px;
        }

        &.active {
            &:before {
                box-shadow: 0 0 0 5000px @blue;
            }

            span {
                display: none;
            }

            svg {
                display: block;
            }
        }

        span {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 3px;
            background-color: @text;
            display: block;
            border-radius: 100px;
            transition: 0.5s;
            transform: rotate(0);
            opacity: 1;

            &:nth-of-type(1) {
                bottom: auto;
            }

            &:nth-of-type(3) {
                top: auto;
            }
        }
    }

    .mobile-menu {
        background-color: @blue;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        overflow: auto;
        width: 100%;
        z-index: 6;
        padding: 40px;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
        
        transition: 0.5s;
        transition-delay: 0.2s;

        .close {
            position: absolute;
            width: 24px;
            height: 24px;
            top: 15px;
            right: 15px;
            
            span {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 100%;
                height: 2px;
                background-color: @white;

                &:first-of-type {
                    transform: rotate(45deg);
                }

                &:last-of-type {
                    transform: rotate(-45deg);
                }
            }
        }
        
        &.active {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }

        &__wrap {

        }
        

        .menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            padding: 0;
            
            &__item {
                border: none;
                color: @white;
                padding: 10px 0;
                margin: 0;
                position: relative;

                &_drop {
                    & > a {
                        &:after {
                            top: 3px;
                            right: -17px;
                        }
                    }

                    &.active {
                        & > a {
                            &:after {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }

                &:first-of-type {
                    & > a {
                        padding-left: 0;
                    }
                }

                a {
                    padding: 0;
                }
            }

            .sub {
                display: none;
                transition: none;
            }
        }
    }
}

@media screen and (max-width: 1270px) {
    .header {
        border-bottom: 1px solid #e8e8e8;

        &__wrap {
            &:before {
                display: none;
            }
        }

        .contacts {
            &:after {
                width: calc(100% + 15px);
            }
        }

        &_absolute {
            background-color: fade(@black, 20%);
            border-bottom: 1px solid fade(@white, 10%);
        }
    }
}


@media screen and (max-width: 1200px) {
    .header {
        .contacts {
            padding: 18px 0 22px 25px;
        }
        .menu {
            font-size: 12px;

            &__item {
                margin: 0 7px;

                &:first-of-type {
                    margin-left: 0;
                    
                    & > a {
                        padding-left: 25px;
                    }
                }
    
                &:last-of-type {
                    margin-right: 0;
                    
                    & > a {
                        padding-right: 0;
                    }
                }
    
                & > a {
                    padding: 29px 8px 26px;
                    display: inline-block;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        .nav {
            display: none;
        }

        .menu {

            &__item {

            }
            &_drop {
                &:hover {
                    .sub {
                        visibility: visible;
                        opacity: 1;
                    }
                }      
            }

            .sub {
                visibility: visible;
                opacity: 1;
                display: none;
                position: static;
            }
        }

        .burger {
            display: block;
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        .logo {
            width: 135px;

            svg {
                width: 120px;
                height: 71px;
            }
        }

        &__row {
            width: calc(100% - 135px);
        }

        .contacts {
            flex-direction: column;
            align-items: flex-end;
        }

        .phone {
            margin-bottom: 5px;
        }

        .burger {
            bottom: 16px;
        }
    }
}